$primary: #efc22b;
$background: #01338a;
$color: #d0d0d0;
$error: darkred;
$success: green;

$lightning_icon: url(../assets/lightning-icon.svg);
$bitcoin_icon: url(../assets/bitcoin-icon.svg);
$liquid_icon: url(../assets/liquid-icon.svg);
$rootstock_icon: url(../assets/rootstock-icon.svg);
$olympus_icon: url(/olympus-icon.svg);
